@keyframes scroll {
    from {
      transform: translateX(-0%);
    }

    to {
      transform: translateX(-100%);
    }
  }

  .sizing-dont-shrink-grow {
    animation: scroll 40s linear infinite;
  }

  .hp-client-slider-wrapper:hover>.sizing-dont-shrink-grow {
    animation-play-state: paused;}
.client-testimonial-wrapper p.text-large {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    white-space: pre-wrap;
    min-height: calc(7 * 1.5em);
  }